@media (max-width: 767px){
	#product_category_list {
		position: fixed;
		right: -100%;
		top: 0;
		height: 100vh;
		background-color: white;
		z-index: 9999999;
		text-align: right;
		padding-left:20px;
		padding-right:20px;
		max-width: 90%;
		transition: none;
		overflow-y:auto;
		padding-bottom: 50px;
		@include transition(all, 0.4s, ease-in);
		
		&.show{
			@include transition(all, 0.4s, ease-in);
			right: 0;
		}

		.ab_ctaeg_view {
			margin-left: -20px;
		    margin-right: -20px;
		    padding: 20px;
		    background: black;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.ab_category_title {
				text-align: left;
				color: white;
				margin-bottom: 0;
				font-size: 20px;
				font-weight: bold;
			}
			.ab-category-close {
				cursor: pointer;
				font-size: 0;
				position: relative;
				width: 20px;
				height: 20px;

				&::after, &::before{
					content: '';
					position: absolute;
					left: 0;
					top: 10px;
					transform-origin: center;
					transform: rotate(45deg);
					background: $light-color;
					width: 100%;
					height: 1px;
				}
				&::after{
					transform: rotate(-45deg);
				}
			}
		}
		.view-category-list {
			text-align: left;
			margin-top: 15px;
			> li.view-category-item {
				border-bottom: 1px solid #f0f0f0;
			}
			li {
				display: block;
				width: 100%;
				position: relative;
				.fa {
					position: absolute;
					right: 0;
					top: 12px;
					color: black;
					width: 30px;
					text-align: center;
					@include flex;
					@include justify-align-content;
					z-index: 999;
					&.fa-plus[aria-expanded="true"] {
						&:before {
							content: '\f068';
						}
					}
				}
				ul {
					margin-left: 1.5rem;
					padding-bottom: 5px;
					li {
						.fa {
							top: 3px;
						}
						a {
							padding: 2px 0;
						}
					}
				}
				a {
					display: block;
					color: black;
					font-size: 0.875rem;
					padding: 10px 0;
					width: calc(100% - 30px);
				}
			}
		}
		&.collapsing {
			transition: none;
		}
	}
}
// @media (max-width:767px) {
// 	.sct-mobile-pro-list {
// 		.sct_shop_box .sct_btm_mobile {
// 			bottom: 68px;
// 		}
// 		.cd-top.cd-is-visible {
// 			bottom: 130px;	
// 		}
// 		&.ab-btm-cat {
// 			padding-bottom: 115px;
// 		}
// 	}
// 	.sct-mobile-pro-detail-list {
// 		#product_detail #product_details .js_product .sct-add-to-cart-mob {
// 			bottom: 68px;
// 		}
// 		.cd-top.cd-is-visible {
// 			bottom: 130px;	
// 		}
// 		&.ab-btm-cat {
// 			padding-bottom: 115px;
// 		}
// 	}
// }